:host {
    padding: 0 20px;
    display: flex;
    min-height: 100vh;
}

.aside--left {
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    border-right: 1px solid green;
    overflow-y: scroll;
}

.aside--right {
    width: calc(100% - 300px);
    padding: 20px;
}

.agenda--list {
    list-style: none;
    padding-left: 15px;
}

.agenda--main-link,
.agenda--sub-link {
    display: block;
    padding: 5px 0;
}

.agenda--main-link {
    color: var(--bright-green);
}