<aside class="aside--left">
    <ul class="agenda--list">
        <li>
            <a [routerLink]="'/'" class="agenda--main-link">
                Agenda
            </a>
        </li>
        <li *ngFor="let agendaItem of agendaElements; trackBy: trackByFn">
            <a [routerLink]="agendaItem.url" class="agenda--main-link">
                {{ agendaItem.title }}
            </a>
            <ul>
                <li *ngFor="let subCategory of agendaItem.subcategories; trackBy: trackByFn">
                    <a [routerLink]="subCategory.url" class="agenda--sub-link">{{ subCategory.title }}</a>
                </li>
            </ul>
        </li>
    </ul>
</aside>
<aside class="aside--right">
    <router-outlet></router-outlet>
</aside>